.small-td {
    padding: 0px;
}

.cv-entry {
    vertical-align: middle !important;
    text-align: center;
}
.cv-entry span {
    background: var(--accent-color);
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

.book-button {
    vertical-align: middle !important;
    text-align: center;
}

.book-button a:link {
    padding: 0.75em 1.75em;
    margin: 0.7em auto;

    width: 12em;
    border: 1px solid;
    border-color: var(--text-color);
    border-radius: .25rem;
    background: var(--accent-color);
    font-weight: 700 !important;
    text-decoration: none;
}

.book-button a:hover {
    text-decoration: underline;
    color: var(--dark-text-color);
}
.post .post-content {
    margin-top: 20px;
}
